# created by virtualenv automatically
.DS_Store
.idea/
DataBaseDirectory/db_akaze_bf.pickle
DataDirectory/.DS_Store
DataDirectory/KITTI_DATA.pickle
Results/ Left cameras and landmarks 2d trajectory.png
Results/.DS_Store
Results/Euclidean distance error.png
Results/db options/
BundleAdjustmentDirectory/bundle_adjustment.pickle
DataBaseDirectory/db_akaze_knn.pickle
PoseGraphDirectory/pose_graph.pickle
PoseGraphDirectory/VertexGraph_before_canging_min_heap.py

__pycache__/
main.py
venv/
.gitignore
